extends layouts/default
include helpers/mixins

block variables
    - const title = "gulp-pug-starter"

block content
    include particles/header 

    h1.title Главная

    ul.news
        each item in news
            li= item.name

    include particles/footer 

block scripts