extends layouts/default
include helpers/mixins

block variables
    - const title = "Главная"

block content
    include particles/header 

    h1.title Главная

    img(src="img/kaeme-oLc-kWI-W7Y-unsplash.jpg", alt="rfhnbyrf", width="500")

    ul.news
        each item in news
            li= item.name

    include particles/footer 

block scripts
    script(src="js/main.js") 